.card__horizontal-item,
.card__vertical-item {
  display: flex;
  margin: 10px;
  padding: 0;
  border-radius: 10px;
  font-size: 14px;
  background-color: var(--color-dark-gray);
  flex-direction: row;
  cursor: pointer;
}

.card__horizontal-item {
  background: linear-gradient(
    var(--color-medium-gray) 0%,
    var(--color-dark-gray) 50%,
    var(--color-dark-gray) 100%
  );
  width: 300px;
}

.card__vertical-item {
  flex-direction: column;
  padding: 5px;
  width: 150px;
  margin: 20px;
  transition: 0.5s;
}

.card__horizontal-item:hover,
.card__vertical-item:hover {
  background: linear-gradient(
    var(--color-light-gray) 0%,
    var(--color-light-gray) 50%,
    var(--color-medium-gray) 100%
  );
}

.card__horizontal-item__image,
.card__vertical-item__image {
  display: inline-flex;
  border-radius: 3px;
  height: 80px;
  width: 80px;
  box-shadow: 10px 10px 10px var(--color-dark-gray);
}

.card__vertical-item__image {
  height: 100%;
  width: 100%;
}

.card__horizontal-item__name,
.card__vertical-item__name {
  display: inline-flex;
  text-align: left;
  align-items: center;
  padding-left: 10px;
}

.card__horizontal-item__name {
  padding: 0 15px;
}
.card__vertical-item__name {
  display: block;
  justify-content: center;
  color: white;
  padding: 15px 5px;
}

.card__vertical-item__title,
.card__horizontal-item__title {
  padding-bottom: 5px;
}

.card__vertical-item__title {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__vertical-item__subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--color-text-gray);
}
