.song-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 1em;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
  color: white;
}

.spacer {
  flex-grow: 1;
}

.song-row:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.song-row-info {
  margin-left: 1em;
}

.song-row-info > h1 {
  font-size: 1.2em;
}
.song-row-info > p {
  font-size: 1em;
  margin-top: 2px;
  color: var(--color-text-gray);
}

.song-row-index {
  margin-right: 1em;
  color: var(--color-text-gray);
}

.song-row-duration {
  padding-right: 1em;
}
.song-row-popularity {
  padding-right: 1em;
}
