@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noticia+Text:wght@400;700&family=Raleway:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: var(--color-text);
}

.App {
  background: linear-gradient(90deg, #070000 0%, #220001 50%, #070000 100%);
  height: 100vh;
  display: grid;
  grid-template-columns: 275px auto;
  grid-template-rows: 90% 10%;
}

main,
aside,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

main {
  background: var(--color-background-medium);
  overflow-y: scroll;
  padding: 100px 0 0;
}

aside {
  background: var(--color-background-dark);
  height: 100%;
}

main,
aside {
  align-items: baseline;
  justify-content: left;
}

footer {
  background: var(--color-background-dark);
  grid-column: 1 / span 2;
  border-top: 0.5px solid var(--color-background-medium);
}

.menubar {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  position: fixed;
  align-items: center;
  height: 60px;
  top: 0;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
}
.menubar-arrows__back {
  padding: 5px 0 5px 8px;
}

.menubar-arrows__forward {
  padding: 5px 4px 5px 5px;
}

.menubar-arrows__back,
.menubar-arrows__forward {
  background-color: var(--color-dark-gray);
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  color: white;
}

.menubar-arrows__back:hover,
.menubar-arrows__forward:hover {
  background-color: var(--color-light-gray);
}

.menubar-spacer {
  flex-grow: 1;
  min-width: 0;
  pointer-events: none;
}

.menubar-user {
  color: white;
  font-weight: 700;
}

.menubar-user__avatar {
  display: inline-flex;
}
.menubar-user__username {
  display: inline-flex;
  align-items: center;
}
