.browse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category {
  border-radius: 20px;
  width: 175px;
  height: 175px;
  margin: 15px;
  opacity: 0.6;
  transition: 0.1s;
}

.category:hover {
  box-shadow: 10px 10px 10px rgba(0, 119, 192, 0.5);
  opacity: 1;
}

.category-title {
  padding: 20px;
}
