.card__horizontal-item,
.card__vertical-item {
  display: flex;
  margin: 10px;
  padding: 0;
  border-radius: 3px;
  font-size: 14px;
  width: 240px;
  height: 80px;
  background-color: var(--color-medium-gray);
  flex-direction: row;
  cursor: pointer;
}

.card__vertical-item {
  flex-direction: column;
  width: 200px;
  height: 100%;
  padding: 10px;
}

.card__horizontal-item:hover,
.card__vertical-item:hover {
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.5);
  background-color: var(--color-kamino-blue);
}

.card__horizontal-item__image,
.card__vertical-item__image {
  display: inline-flex;
  border-radius: 3px;
  height: 80px;
  width: 80px;
}

.card__vertical-item__image {
  height: 200px;
  width: 200px;
}

.card__horizontal-item__name,
.card__vertical-item__name {
  display: inline-flex;
  text-align: left;
  align-items: center;
  padding-left: 10px;
}

.card__vertical-item__name {
  display: block;
  justify-content: center;
  color: white;
  height: 60px;
  padding-top: 15px;
}

.card__vertical-item__title,
.card__horizontal-item__title {
  padding-bottom: 5px;
}
