.MuiPaper-root {
  background-color: transparent !important;
}

.MuiTableCell-body,
.MuiTableCell-head {
  color: white !important;
}

.detail-view {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 4fr;
  grid-template-areas:
    'header'
    'controls'
    'list';
  color: white;
}

.detail-view__header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    'image'
    'metadata';
  grid-template-columns: 1fr 3fr;
  margin: 30px;
}

.detail-view__header-info-metadata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.detail-view__header-info-type {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

.detail-view__header-info-title {
  font-size: 75px;
  font-weight: 600;
}
.detail-view__header-info-title-long {
  font-size: 30px;
  font-weight: 600;
}
.detail-view__header-info-artist {
  font-size: 20px;
}

.detail-view__header-info-image > img {
  width: 100%;
}

.detail-view__user-controls {
  grid-area: controls;
  cursor: pointer;
  margin: 30px;
}
.detail-view__user-list {
  grid-area: list;
  color: white;
  font-size: 20px;
  margin: 30px;
}

.detail-view-tracklist-row {
  border: none;
}

.detail-view-tracklist-row:hover {
  background-color: var(--color-medium-gray);
  cursor: pointer;
}

.MuiTableCell-root {
  border: none !important;
}
