.MuiPaper-root {
  background-color: transparent !important;
}

.MuiTableCell-body,
.MuiTableCell-head {
  color: white !important;
}

.detail-view {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'controls'
    'list'
    'copyrights';
  color: white;
}

.artist-detail {
  color: white;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
    'header'
    'controls'
    'main'
    'discography';
  grid-template-rows: auto;
  align-items: baseline;
}

.detail-view__header,
.artist-detail__header {
  grid-area: header;
  display: grid;
  grid-template-areas: 'image metadata';
  grid-template-columns: 250px 3fr;
  height: 100%;
  width: 100%;
  align-items: center;
}

.artist-detail__header {
  align-items: self-end;
  background: linear-gradient(
    90deg,
    #1f005c,
    #48004e,
    #5d003f,
    #690032,
    #6e1829,
    #6f2c24,
    #6e3d25,
    #6b4c2d
  );
  padding-bottom: 20px;
}

.detail-view__header-info-metadata {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 15px;
  height: 100%;
}

.detail-view__header-info-type {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

.detail-view__header-info-title {
  font-size: 75px;
  font-weight: 800;
}
.detail-view__header-info-title-long {
  font-size: 45px;
  font-weight: 700;
}
.detail-view__header-info-subtitle {
  /* font-size: 20px; */
}

.detail-view__header-info-image > img {
  width: 100%;
  height: 100%;
}

.detail-view__user-controls,
.artist-detail__controls {
  grid-area: controls;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 30px;
}

.detail-view__user-list {
  grid-area: list;
  color: white;
  font-size: 20px;
  display: grid;
  width: 100%;
  grid-template-areas: 'table';
  grid-template-columns: auto;
}

.artist-detail__user-list {
  display: grid;
  grid-template-areas: 'table related';
  grid-template-columns: 3fr 1fr;
  width: 100%;
  align-items: self-end;
}

.detail-view-tracklist-row {
  border: none;
}

.detail-view-tracklist-row:hover {
  background-color: var(--color-medium-gray);
  cursor: pointer;
}

.detail-view-tracklist-cell {
  display: inline-flex !important;
}

.detail-view-tracklist-art {
  height: 40px;
  margin-right: 15px;
}

.detail-view-tracklist-track-name {
}

.detail-view__copyrights {
  grid-area: copyrights;
}

.detail-view-tracklist-track-artist {
  color: gray;
}

.MuiTableCell-root {
  border: none !important;
}

.related-artist-grid-title {
}

.related-artist-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.related-artist-card {
  display: flex;
  flex-direction: row;
  width: 300px;
  font-size: 14px;
  background-color: var(--color-medium-gray);
  border-radius: 55px;
  align-items: center;
  margin: 15px;
}

.related-artist-card__image > img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 55px;
}
.related-artist-card__text {
  align-items: center;
  height: 100%;
}
.related-artist-card__artist {
  font-weight: 600;
  font-size: 16px;
  color: white;
  margin-top: 10px;
}
.related-artist-card__subtitle {
  margin-top: -10px;
}

.artist-detail__popular {
  grid-area: table;
}

.artist-detail__related {
  grid-area: related;
  align-self: flex-start;
  width: 100%;
}

.related-artist-card .card__vertical-item .card__vertical-item__image {
  border-radius: 55px;
}

.artist-detail-discography {
  grid-area: discography;
}

.artist-detail-discography-albums,
.artist-detail-discography-singles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
