.sidebar-item {
  display: flex;
  align-items: center;
  color: gray;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  width: 100%;
}

.sidebar-item:hover {
  color: white;
  background-color: var(--color-medium-gray);
}

.sidebar-item__icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar-item > p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 12px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
